
.grid-container
{
	display: grid;
}

body
{
	/* grid-auto-columns: 1fr; */
	grid-template-columns: 1fr 5fr 1fr;
	/* grid-template-rows: 1fr 5fr 1fr; */
	gap: 0px 0px;
	grid-template-areas:
		". header ."
		".  main  ."
		". footer .";
}
header { grid-area: header; }
footer { grid-area: footer; }
main { grid-area: main; }
