.menu-container
{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	/* gap: 10px 15px; */
	grid-auto-flow: row;
	grid-template-columns: repeat(5,1fr);
	/* "home projects cheat-sheet links blog"; */
}

/* .home { grid-area: home; } */

/* .projects { grid-area: projects; } */

/* .cheat-sheet { grid-area: cheat-sheet; } */

/* .links { grid-area: links; } */

/* .blog { grid-area: blog; } */

.menu-item{
	border: 1px solid #85bbff;	
	:hover { background-color: #101218;
			 :last-child{
				 background-color: #101218;
			 }
		   }
}


nav {border: 1px solid #82aaff;}

nav div a
{
	text-align: center;
	text-decoration: none;
	display:block;
	padding: 14px 16px;
}


nav div a  {text-align: center;}


