$colour-1: #c792ea;
$colour-2: #89ddff;
$colour-3: #ff5370;
$colour-4: #bb80b3;
$colour-5: #ffcb6b;
$colour-6: #71bebe;
$colour-bg:#242837;
$colour-fg:#82aaff;


* {
  font-family: 'Ubuntu Mono', monospace;
  background-color: $colour-bg;
}
/* html{background-color: #242837;  color: #82aaff;}  */

.content { margin: auto; max-width: 800px; padding: 10px;}

h1,h2,h3,h4,h5,h6
{ background-color: $colour-bg;
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}
h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}
h5 {
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}
h6 {
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}






h1 { color: $colour-1;}
h2 { color: $colour-2;}
h3 { color: $colour-3;}
h4 { color: $colour-4;}
h5 { color: $colour-5;}
h6 { color: $colour-6;}

section,area,article,aside,details,body{border: 1px solid $colour-fg;}
/* main{border: 1px solid #82aaff} */

/* nav ol li */
/* nav ul {list-style-type: none;} */

p
{
	color: #ffcb6b;
}

