.title {
  grid-area: title;
}

.intro {
  grid-area: intro;
}

/* .parts .part{} */
#part-1 {
  grid-area: part1;
}

#part-2 {
  grid-area: part2;
}

#part-3 {
  grid-area: part3;
}

main.main-grid {
  gap: 0px 0px;
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "title title title title" "intro intro intro intro" "part1 part1 part2 part2" "part1 part1 part2 part2" "part3 part3 part3 part3";
}

/*# sourceMappingURL=main-grid.css.map */
