* {
  font-family: "Ubuntu Mono", monospace;
  background-color: #242837;
}

/* html{background-color: #242837;  color: #82aaff;}  */
.content {
  margin: auto;
  max-width: 800px;
  padding: 10px;
}

h1, h2, h3, h4, h5 {
  background-color: #242837;
}

h1 {
  color: #c792ea;
  font-size: 2em;
}

h2 {
  color: #89DDFF;
}

h3 {
  color: #ff5370;
}

h4 {
  color: #bb80b3;
}

h5 {
  color: #ffcb6b;
}

section, area, article, aside, details, body {
  border: 1px solid #82aaff;
}

/* main{border: 1px solid #82aaff} */
/* nav ol li */
/* nav ul {list-style-type: none;} */
p {
  color: #ffcb6b;
}

/*# sourceMappingURL=style.css.map */
